@model RegisterVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="az">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/style/css/main.css" />
    <title>Qeydiyyatdan keç</title>
</head>

<body>
    <section class="area-login">
        <h1>Qeydiyyat</h1>
        <div class="login">
            <form method="post" enctype="multipart/form-data">
                <input asp-for="Fullname" placeholder="Ad və soyadınız" autofocus />
                <input asp-for="Username" placeholder="İstifadəçi adınız" autofocus />
                <input asp-for="Password" placeholder="Parolunuz" />
                <input asp-for="Image" />
                <input type="submit" value="Qeydiyyatdan keçin" />
            </form>
            <p>Hesabınız var? <a asp-action="Login">Daxil olun</a></p>
        </div>
    </section>
</body>

</html>